# === Thư mục cấu hình ẩn của Visual Studio ===
.vs/
*.vsidx
*.suo
*.user
*.db
*.sqlite
*.slnx.sqlite
*.wsuo

# === Thư mục chứa kết quả Build (Cái này làm nặng repo nhất) ===
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# === File rác sinh ra trong quá trình biên dịch (Compile) ===
*.obj
*.exe
*.ilk
*.pdb
*.idb
*.tlog
*.log
*.lastbuildstate
*.recipe
*.ipch
*.iobj
*.ipdb
*.vsix
